@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Oswald&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px;
}

body {
  width: 100%;
  margin: auto;
  font-family: 'Fira Sans', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.center {
  text-align: center;
}

.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.align {
  display: flex;
  align-items: center;
}

$orange: orange;
$orange_dark : darken(orange, 15);

h1 {
  margin: 30px;
  color: $orange;
  font-size: 50px;
}

.fa-plus-square {
  color: $orange;
  margin: 15px;
  font-size: 30px;

  &:hover {
    color: $orange_dark;
  }
}

a {
  text-decoration: none;
  color: black;
}

.addProject {
  font-size: 25px;
  display: flex;
  margin: 15px;

  &:hover, &:hover > .fa-plus-square {
    color: $orange_dark;
  }
}

#projects {
  width: 100%;
}

.project {
  border: 1px solid #dedede;
  border-radius: 10px;
  margin: 25px;
  width: 30%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 12px 28px 0, rgba(0, 0, 0, 0.1) 0 2px 4px 0, rgba(255, 255, 255, 0.05) 0 0 0 1px inset;
}

h2 {
  background-color: #dedede;
  padding: 10px;
  color: white;
  border-radius: 10px 10px 0 0;
}

$i: 10;
$unit: '%';
@while $i <= 100 {
  .width_#{$i} {
    width: #{$i + $unit};
  }
  $i: $i + 10;
}

.pad15 {
  padding: 15px;
}

.time {
  margin: 10px 0;
  i {
    color: #448eff;
    font-size: 40px;
  }
  p {
    color: gray;
    margin: 5px 0;
  }
}

.containerList {
  border: 1px solid #dedede;
  padding: 10px;
}

.lineHorizontal {
  border-bottom: 1px solid #dedede;
  margin: 10px;
}

.fa-stopwatch {
  color: #4ba84b;
  font-size: 25px;

  &:hover {
    color: darken(#4ba84b, 10);
    cursor: pointer;
  }
}

.scroller {
  height: 250px;
  overflow-y: scroll;
}

.edit {
  margin: 0 15%;
  &:hover {
    cursor: pointer;
  }
}

.fa-trash-alt, .fa-eye {
  font-size: 25px;
  color: #ff1e1e;
  &:hover {
    color: darken(#ff1e1e, 15);
  }
}

.fa-eye {
  color: #a736d3;
  &:hover {
    color: darken(#a736d3, 15);
  }
}

.border {
  border: 1px solid #dedede;
  width: 100%;
}

.question {
  margin-left: 15px;
  color: #448eff;
}

.wrap {
  flex-wrap: wrap;
}